<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form method="post" action="/user">
    <label>Username
    <input type="text" value="username">
    </label>
    <label>Email
        <input type="email" value="email">
    </label>
    <label>Password
        <input type="password" value="password">
    </label>
    <label>Email
        <input type="password" value="password">
    </label>
    <input type="submit" value="Submit">
</form>

</body>
</html>